# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3
db.sqlite3-journal

# Logs
*.log

# Media / Uploaded files
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
